body {
    text-align: center;
}
p {
    color: black;
}
.haikei {
    border:1px white;
    border-radius:1em;
    margin: 0px 500px 0px;
}
body {
    background-image: url("https://www.iconclip.com/www/wp-content/uploads/2016/05/weather-featured-710x580.png");
    background-size: 25%;
}