h2 {
    color: rgb(0, 0, 170);
}
a:link {
    color: rgb(56, 56, 243);
}
a:visited {
    color: purple;
}
a:hover {
    text-decoration: none;
}
/*ul.target {
    border: 5px solid rgb(0, 0, 255);
    padding: 20px 20px 20px 20px;
    background: rgb(181, 212, 230);
}*/
body.target{
    background-color: white;/*252,241,206*/
}
h2.target {
    border-style: none none double none;
}
/*h1.target {
    border-style: none;
    padding: 50px 50px 50px 50px;
    background: rgb(36, 94, 255);
}*/
li{
    list-style-type: none;
}
header, footer {
    background-color: teal;
    height: 10em;
    padding: 2em;
  }
  h1, footer p {
    margin: 0px;
  }
  h1 {
    text-align: center;
    padding: 0.5em 0;
  }